venv/
.env
__pycache__/
*.pyc
*.pyo
media/
staticfiles/
*.log
db.sqlite3
*.sqlite3
.DS_Store
*.env
node_modules/
static/css/tailwind.css
package-lock.json
package.json
postcss.config.js
tailwind.config.js
kuravote_100k_from 120000.csv