asgiref==3.11.1
charset-normalizer==3.4.6
colorama==0.4.6
crispy-bootstrap5==2026.3
Django==5.2.12
django-crispy-forms==2.6
django-csp==4.0
django-otp==1.7.0
django-ratelimit==4.1.0
dotenv==0.9.9
et_xmlfile==2.0.0
mysqlclient==2.2.8
openpyxl==3.1.5
packaging==26.2
pillow==12.1.1
python-dotenv==1.2.2
qrcode==8.2
ratelimit==2.2.1
reportlab==4.4.10
sqlparse==0.5.5
tzdata==2025.3
